name: "HA USB/IP Client"
description: "A USB/IP client to connect to an existing USB/IP server and access remote USB devices."
version: "0.1.3"
slug: "ha_usbip_client"
icon: "icon.png"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
apparmor: false
init: false
full_access: true
kernel_modules:
  - vhci-hcd
host_network: true
privileged:
  - NET_ADMIN
  - SYS_ADMIN
  - SYS_RAWIO
  - SYS_TIME
  - SYS_NICE
options:
  log_level: info
  discovery_server_address: "192.168.1.44"
  devices:
    - server_address: "192.168.1.44"
      bus_id: "1-1.1.3"
    - server_address: "192.168.1.44"
      bus_id: "1-1.2"
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  discovery_server_address: str
  devices:
    - server_address: str
      bus_id: str
